# =========================================================================
# NextStep API - Archivo de Configuración de Ejemplo (.env.example)
# Copie este archivo como '.env' en la raíz del backend y complete los valores.
# =========================================================================

# Puerto en el que correrá el servidor NestJS
PORT=3001

# Entorno de ejecución (development, production, test)
# Define si Swagger se inicializa o se oculta (Habilitado automáticamente en 'development')
NODE_ENV=development

# Conexión a la Base de Datos PostgreSQL (TypeORM)
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres

# Clave secreta para la firma y verificación de tokens JWT de sesión
JWT_SECRET=tu_secreto

# API Key para la integración de Inteligencia Artificial con Anthropic Claude
# Requerido por el servicio de análisis automático de feedbacks y scorecards
CLAUDE_API_KEY=tu_api_key

# CONFIGURACIÓN DEL SCRIPT DE SEED (Inicialización de Base de Datos)
# Estos valores se utilizan para crear un usuario administrador inicial al ejecutar el script de seed.
# El email debe tener un formato válido y la contraseña debe cumplir con los requisitos de seguridad definidos en el backend (mínimo 8 caracteres).
DEFAULT_ADMIN_EMAIL=ejemplo@mail.com
DEFAULT_ADMIN_PASSWORD=ejemplo123

# Sincronización automática de entidades con la base de datos (TypeORM)
# Útil para desarrollo, pero no recomendado para producción.
DB_SYNC=false